.breadcrumbs-bar .breadcrumbs .here {
    white-space: nowrap;
}

.breadcrumbs-bar .breadcrumbs .here.long {
    white-space: initial;
}

.overview table {
    text-align: left;

}

.overview table thead th {
    white-space: initial;
}

.overview table ol {
    margin-left: 1em;
    margin-right: 0;
}

.overview section {
    padding-top: 0;
    margin: 0;
    text-align: center;
}

.overview section h1 {
    font-size: large;
    font-weight: normal;
    padding-bottom: 0.25em;
    margin: 0 auto;
    border-bottom: thin solid lightgray;
    width: 15em;
}

.overview .arguments table {
    margin-top: 1em;
}

.overview p:first-of-type {
    margin-top: 0.5em;
}

#radix-aliases-table thead th {
    vertical-align: bottom;
}

.arguments table tr th {
    text-align: left;
}

.arguments table th.modifiers {
    text-align: center;
    letter-spacing: 0.05em;
    font-size: larger;
}

.bound-printer-variables table {
    border: none;
}

.bound-printer-variables table th, .bound-printer-variables table td {
    text-align: center;
    background: transparent;
    border: none;
    padding: 0.3em 1.5em;
}

.bound-printer-variables table th {
    padding-top: 0;
}

.bound-printer-variables table td {
    padding-bottom: 0.9em;
}

.hanging-menu {
    position: static;
    float: right;
}

.hanging-menu span.details {
    display: none;
}

.hanging-menu:hover span.details {
    display: inline;
}

.hanging-menu:hover span.details + a {
    color: black;
}
