.hanging-menu {
    position: revert;
    float: right;
}

#subsections-summary-table a {
    text-decoration: none;
}

#subsections-summary-table > tbody > tr > th.horizontal-grouping-header a {
    font-size: x-large;
}

#subsections-summary-table ol li + li {
    margin-top: 0.1em;
}

#subsections-summary-table .same-as {
    text-align: center;
    font-style: italic;
    word-spacing: 0.25em;
    letter-spacing: 0.1em;
    background-color: linen;
}

#subsections-summary-table :is(.\~, .horizontal-grouping-header) {
    text-align: center;
    letter-spacing: 0.1em;
    padding: 0.4em;
}

#subsections-summary-table :is(.recursive, .variant) {
    font-weight: normal;
    background-color: #E4E4E4;
}

#subsections-summary-table .big-merge {
    text-align: center;
    font-size: x-large;
}

#subsections-summary-table .horizontal-merge {
    text-align: center;
    background-color: linen;
}

#subsections-summary-table p {
    margin: 0;
}

#subsections-summary-table p + p {
    margin-top: 0.3em;
}

#subsections-summary-table p + ol {
    margin-top: 0;
}

#subsections-summary-table .modifier {
    text-align: center;
}

#subsections-summary-table .independent.modifier {
    background-color: lightyellow;
}

#subsections-summary-table .both {
    background-image: url("both-modifiers.svg");
    background-repeat: no-repeat;
    background-position: 98% center;
}

#case-conversion-functions {
    font-size: x-large;
    text-align: center;
}


#subsections-summary-table .combinable.modifier {
    background-image: url("combinable-left.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 1.2em;
}

#subsections-summary-table .combinable.modifier + .combinable.modifier {
    background-image: url("combinable-right.svg");
    background-position: 0% 50%;
}

#subsections-summary-table .rest {
    text-align: right;
}

#subsections-summary-table .interior {
    background-image: url("interior.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

#subsections-summary-table .interior ol {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#subsections-summary-table .interior p {
    text-align: center;
}

#subsections-summary-table th.escape-number-prefix-args {
    text-align: right;
}
